*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html wrapper, body wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html main, body main {
  flex: 1 0 auto;
}
html .container, body .container {
  max-width: 1400px;
  margin: 0 auto;
}